## Project
dependencies/
build/
dist/
lib/
tmp_ui/
tmp_moc/
tmp_rcc/

.dep.inc
revision.h

## C++

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT and GUI
frontend/object_script.molpher-gui
frontend/nbproject/*.pro

# Generated project make files
/*/nbproject/private
#/*/nbproject/*.mk
/*/nbproject/*.bash

# Molpher results
Results/

# Molpher snapshots
*.snp

# Python files
__pycache__

# Logfiles
*.log
