## Project
build/
dist/
bin/
/deps/*
!/deps/*.sh
.idea/
cmake-build-debug/
cmake-build-release/

## C++

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Molpher snapshots
*.snp
*snapshot.xml

# Python files
__pycache__
*.egg-info
*.pyc
*.pickle

# Logfiles
*.log

# Doxygen output
doc/doxygen/xml

# DB files
*.db

# Python package data files
/src/python/molpher/swig_wrappers/*.dat

# rendered homepage templates
/doc/homepage/*.html
