<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
	<link rel="stylesheet" href="style.css">

	<!-- Google Analytics JS -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-42887541-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>

<div class="fork-me-wrapper hide-on-large-only">
	<div class="fork-me">
		<a class="fork-me-link" href="https://github.com/lich-uct/molpher-lib">
			<span class="fork-me-text">Fork Me On GitHub</span>
		</a>
	</div>
</div>

<div class="fork-me-wrapper fork-me-left hide-on-med-and-down">
	<div class="fork-me">
		<a class="fork-me-link" href="https://github.com/lich-uct/molpher-lib">
			<span class="fork-me-text">Fork Me On GitHub</span>
		</a>
	</div>
</div>

{% block navigation %}
	navigation (no content)
{% endblock %}

{% block body %}
	body (no content)
{% endblock %}

<!-- Layout JS -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
		integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
		crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
        integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
        crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<script>
	$('.button-collapse').sideNav({
				menuWidth: 300, // Default is 240
				edge: 'left', // Choose the horizontal origin
				closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
			}
	);
</script>

</body>
</html>

