package:
  name: {{ target }}
  version: {{ tbb_version }}

build:
  script_env:
    - BASE_DIR

about:
  license : GPL
  license_file: {{ license_file }}
  summary: "Intel(R) Threading Building Blocks (Intel(R) TBB) -- C++ library for creating high performance, scalable parallel applications (https://www.threadingbuildingblocks.org/)"